#Contents {
    position: relative;
    z-index: -1;
}

#content01, #content02, #content03, #content04, #content05 {
    margin-top: 80px;
    margin-bottom: 65px;
}

#content01, #content02, #content04, #content05 {
    padding: 0;
    width: 1150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content01 div[name="box"] div {
    width: 540px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(239, 236, 236);
}

#content01 div[name="box"] div[name="black-bar"] {
    width: 540px;
    height: 3px;
    background-color: black;
}

#content01 div[name="box"] {
    width: 550px;
    height: 500px;
}

#content01 img {
    width: 540px;
}

#c01-01 {
    margin-right: 30px;
}

#content02 img {
    width: 360px;
}

#content02 div[name="box"] {
    width: 360px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

#content02 div[name="text-box"] {
    width: 350px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-right: 10px;
}

#content02 div[name="box"] div {
    width: 360px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(239, 236, 236);
}

#content02 div[name="box"] div[name="black-bar"] {
    width: 360px;
    height: 3px;
    background-color: black;
}

#content03 {
    width: 100%;
    height: 550px;
}

#c03-01 {
    position: relative;
    margin: 0;
    width: 100%;
}

#c03-02 {
    position: absolute;
    left: 200px;
    width: 385px;
    height: 550px;
    top: 0px;
    z-index: 2;
    background-color: rgba(26, 26, 26, 0.7);
}

#c03-02 div {
    color: white;
    padding-top: 50px;
    font-size: 13px;
}

#content03 img {
    height: 550px;
    margin: 0;
    width: 100%;
    object-fit: cover;
}

#c04-01 {
    padding: 0;
    margin: 0;
    margin-right: 317px;
}

#c04-02 {
    padding: 0;
    margin: 0;
    width: 360px;
    height: 395px;
    background-color: rgb(239, 236, 236);
}

#content04 img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

#c04-02 div[name="black-bar"] {
    width: 360px;
    height: 5px;
    margin-top: 99px;
    background-color: black;
}

#c04-02 div.w3-container{
    padding-top: 20px;
}

#content05 img {
    width: 300px;
    height: 200px;
}