div[name="black-bar"] {
    width: 280px;
    height: 5px;
    background-color: rgb(92, 89, 83);
}

.sidenav {
    width: 280px;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#side-menu {
    margin: 15px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav li {
    width: 230px;
    padding-left: 20px;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.sidenav hr {
    margin-top: 15px;
    width: 220px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.sidenav li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

img[name="add"] {
    width: 280px;
}