#content01, #content02, #content03, #content04, #content05 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div[name="black-bar"] {
    position: absolute;
    z-index: 2;
    height: 5px;
    background-color: rgb(92, 89, 83);
}

div[name="yellow-bar"] {
    position: absolute;
    z-index: 3;
    width: 0px;
    height: 5px;
    background-color: rgb(255, 209, 0);
    transition: all 0.7s ease-in-out;
    left: 50%;
}

#Contents a {
    color: black;
    text-decoration: none;
}

#content01, #content02 {
    padding: 0;
    width: 1240px;
}

/* =====content01===== */
#content01 {
    height: 550px;
}

#c01-01, #c01-02 {
    width: 600px;
    height: 545px;
    padding: 0;
    position: relative;
    background-color: rgb(239, 236, 236);
}

#c01-01 {
    margin-right: 30px;
}

#content01 div[name="black-bar"] {
    width: 600px;
}

#content01 img {
    width: 600px;
}


/* =====content02===== */
#content02 img {
    width: 400px;
}

#content02 div[name="text-box"] {
    width: 380px;
    height: 411px;
    background-color: rgb(255, 209, 0);
    padding-top: 20px;
    padding-bottom: 25px;
    margin-right: 10px;
}

#c02-02, #c02-03 {
    width: 400px;
    padding: 0;
    margin-left: 20px;
    position: relative;
    background-color: rgb(239, 236, 236);
}

#content02 div[name="black-bar"] {
    width: 400px;
}


/* =====content03===== */
#content03 {
    width: 100%;
    height: 640px;
    overflow: hidden;
}

#content03 img {
    height: 640px;
    margin: 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.7s linear;
}

#content03 img:hover {
    transform: scale(1.05);
}

#c03-01 {
    position: relative;
    margin: 0;
    width: 100%;
}

#c03-02 {
    position: absolute;
    left: 330px;
    width: 385px;
    height: 640px;
    top: 0px;
    z-index: 2;
    background-color: rgba(26, 26, 26, 0.7);
}

#c03-02 div {
    color: white;
    padding-top: 80px;
    font-size: 13px;
}



/* =====content04===== */
#content04 {
    width: 1170px;
    height: 100%;
    padding: 0;
}

#c04-01 {
    width: 800px;
    height: 100%;
    padding: 0;
    margin: 0;
}

#content04 img {
    width: 800px;
    height: 100%;
}

#c04-02 {
    padding: 0;
    width: 360px;
    height: 448px;
    position: relative;
    background-color: rgb(239, 236, 236);
}


#c04-02 div[name="black-bar"] {
    width: 360px;
    margin-top: 70px;
}

#c04-02 div[name="yellow-bar"] {
    margin-top: 70px;
}

#c04-02 div.w3-container{
    padding-top: 30px;
}


/* =====content05===== */
#content05 {
    width: 1180px;
}

#content05 img {
    width: 350px;
    height: 100%;
    margin-bottom: 10px;
}